body {
    background-color:black;
    margin:auto;
}

h1 {
    margin-top: 50px;
    color: yellow;
    text-align: center;
}

h2 {
    margin-top: 10px;
    color: yellow;
    text-align: center;
}

h3 {
    margin-top: 10px;
    color: yellow;
    text-align: center;
}

#tractor {
    max-width: 650px;
    max-height: 400px;
    display: block;
    margin: 0 auto;
}

#construction1 {
    position:absolute;
    top:0;
    left:0;
}

#construction2 {
    position: fixed;
    bottom:0;
    left: 0;
}

#construction3 {
    position:absolute;
    top: 0;
    right: 0;
}

#construction4 {
    position:fixed;
    bottom: 0;
    right:0;
}
